.forecast {
    margin: 20px;
}

body {
    margin: 20px;
    background-color: rgb(255, 255, 250);
}

header {    
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 1%;
}

.banner {
    background-color: rgb(66, 90, 43);
    display: flex;
    align-items: center;
}

img {
    width: 15%;
    max-height: 6rem;
    max-width: 6rem;
}

.title {
    width: 85%;
    font-size: 3vw;
    text-align: center;
    color: rgb(255, 255, 250)
}
